# ------------------------------
# Flutter & Dart build files
# ------------------------------
.dart_tool/
.buildlog/
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock

# ------------------------------
# Android
# ------------------------------
**/android/app/debug/
**/android/app/profile/
**/android/app/release/
**/android/local.properties
**/android/key.properties
**/android/.gradle/
**/android/app/google-services.json

# ------------------------------
# iOS
# ------------------------------
**/ios/Flutter/.last_build_id
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework/
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/App.framework
**/ios/Flutter/Generated.xcconfig
**/ios/Runner/GeneratedPluginRegistrant.*

# ------------------------------
# macOS
# ------------------------------
**/macos/Flutter/ephemeral/
**/macos/Pods/
**/macos/Runner/GeneratedPluginRegistrant.swift

# ------------------------------
# Firebase / Secrets
# ------------------------------
**/google-services.json
**/GoogleService-Info.plist
firebase_options.dart

# ------------------------------
# IDEs & Editors
# ------------------------------
.vscode/
.idea/
*.iml

# ------------------------------
# Logs & Misc
# ------------------------------
*.log
*.tmp
*.DS_Store
*.apk
*.aab
*.so
*.keystore
*.jks
